.education-wrapper{
	font-family: 'Roboto';
  	background-color: #289ceb;
  	color: #ffffff;
	text-align: center;
  h2,h3{
  	display: block;
  	margin: 0 auto;
  }
  h2{
	font-size: 24px;
	line-height: 30px;
	font-weight: 500;
  }
  h3{
	font-size: 16px;
	line-height: 1.5;
	font-weight: 300;
  }
  .oval{
    #read, #seen, #feel{
      height: 228px;
      width: 228px;
      svg{
        filter: drop-shadow( 0px -2px 4px #000);
      }
    }
  }
}
.testing-block{
  height: 1000px;
}