.education-wrapper{
	font-family: 'Roboto';
  	background-color: #289ceb;
  	color: #ffffff;
	text-align: center;
  h2,h3{
  	display: block;
  	margin: 0 auto;
  }
  h2{
	font-size: 24px;
	line-height: 30px;
	font-weight: 500;
  }
  h3{
	font-size: 16px;
	line-height: 1.5;
	font-weight: 300;
  }
}