.portfolio-wrapper{
	font-family: 'Roboto';
	text-align: center;
	background-color: #f2f5fa;
	h2, h3{
		margin: 0 auto;
	}
	h2{
		font-size: 24px;
		line-height: 30px;
		color: #333;
		font-weight: 500;
	}
	h3{
		font-size: 16px;
		line-height: 24px;
		color: #8a8a8a;
		font-weight: 400;
	}
	.item{
		display: none;
		background-color: #fff;
		position: relative;
		h4{
		  font-size: 16px;
		  font-weight: 400;
		  line-height: 1.5;
		  color: #212121;
		  padding-top: 18px;
		}
		.descr{
			font-size: 14px;
			text-align: left;
			line-height: 18px;
			color: #8a8a8a;
			font-weight: 400;
			display: block;
			margin: 0 auto;
			transition: height .5s;
			overflow: hidden;
			margin-top: 15px;
			max-width: 315px;
		}
		.read-more{
			display: block;
			width: 100%;
			font-size: 14px;
			line-height: 1.29;
			text-align: center;
			color: #e62ea8;  
			background-color: #ffffff;
			border: none;
			padding: 15px 0px;
  			box-shadow: 0 -2px 4px 0 rgba(0, 0, 0, 0.1);
		}
		.portfolio-video{
			width: 100%;
			video{
				width: 100%;
			}
			.vjs-big-play-button{
				width: 64px;
				height: 64px;
				border-radius: 50%;
				background: #fff;
				color: #e62ea8;
				position: relative;
				margin-top: -6px;
				margin-left: -32px;
				top: 38%;
				span{
					display: none;
				}
				&:before{
					content: '\e801';
					font-family: 'fontello';
					position: absolute;
					width: 34px;
					height: 45px;
					top: 50%;
					margin-top: -22.5px;
					left: 50%;
					margin-left: -15.5px;
				}
				&:hover, &:focus{
					background: none;
				}
			}
		}
	}
}