.slider{
	.slick-slide{
		&:nth-child(2n){
  		background-image: url(../../img/slider/slide1.jpeg), linear-gradient(#289ceb, #289ceb);
  		background-blend-mode: multiply;
  		}
  		&:nth-child(2n + 1){
  		background-image: url(../../img/slider/slide2.jpeg), linear-gradient(#289ceb, #289ceb);
  		background-blend-mode: multiply;
  		}
  		.slide{
			.slide-content{
				padding: 20px 0px 0px 30px;
				h5, h4, p{
					max-width: 315px;
					color: #fff;
					margin-top: 0;
					margin-bottom: 0;
					text-align: left;
					font-family: 'Roboto';
				}
				h5{
					font-family: Helvetica;
					font-size: 11px;
					letter-spacing: 0.2px;
					text-transform: uppercase;
					padding-bottom: 27px;
				}
				h4{
				  	font-size: 24px;
					font-weight: 500;
					line-height: 1.25;
					padding-bottom: 10px;
				}
				p{
					font-size: 16px;
					line-height: 1.5;
					padding-bottom: 38px;
					font-weight: 300;
				}
				.send{
					background-color: #fff;
					color: #f3b;
					margin-bottom: 57px;
					max-width: 315px;
					padding: 14px 68px;
				}
			}
		}
	}
	.slick-dots{
		list-style: none;
		position: absolute;
		bottom: 12px;
		margin: 0;
		padding: 0;
		@include scut-center-transform(x);
		li{
			display: inline-block;
			margin-left: 5px;
			&:first-child{
				margin-left: 0;
			}
			button{
				padding: 0;
				border: 1px solid #fff;
				background: none;
				display: block;
				height: 7px;
				width: 7px;
				outline: 0;
				cursor: pointer;
				border-radius: 50%;
			}
			&.slick-active{
				button{
					background-color: #fff;
				}
			}
		}
	}
}