{% set title = "Главная" %}
{% extends "../templates/layout.njk" %}
{% set activePage = "home" %}
{% block content %}
{% include "../templates/partials/header.njk" %}
<section id="main-content">
	{% include "../templates/slider.njk" %}
	{% include "../templates/tools.njk" %}
</section>

{% endblock %}