// Base styles
// Setup your baseline, selection and links
// =================================================================================

/* 	SELECTION
	----------------- */
	html{
		font-size: 100%;
	}
	
/* 	LINKS
	----------------- */
a {
	color: #fff;
	text-decoration: none;
}