// Requirements
// ============
@import "../../bower_components/susy/sass/_susy";
$susy: (
    'columns': susy-repeat(12),
    'gutters': 0.25,
    'spread': 'narrow',
    'container-spread': 'narrow',
  );
body{
   header{
      @media(min-width: 240px){
        
      }
   }
   .slider{
      @media(min-width: 240px){

      }
    }
   .tools{
      @media(240px){
        .tool-block, .about-technology{
          width: span(100%);
        }
      }
    }
  .applications{
    @media(min-width: 240px){
      width: span(100%);
    }
  }
  .education{
    @media(min-width: 240px){
      width: span(100%);
    }
  }
  .portfolio{
    @media(min-width: 240px){
      width: span(100%);
    }
  }
  footer{
    @media(240px){
      width: span(100%);
    }
  }
}
