	header{
		position: relative;
		@media(min-width: 240px){
			background-image: url(../../img/logo/bg/youtube-2560-x-1440-laika-03-copy.png);
		}
		@media(min-width: 376px){
			background-image: url(../../img/logo/bg/youtube-2560-x-1440-laika-03-copy@2x.png);
		}
		@media(min-width: 1200px){
			background-image: url(../../img/logo/bg/youtube-2560-x-1440-laika-03-copy@3x.png);
		}
	.header-top{
		display: flex;
		align-items: center;
		.logo{
			display: inline-block;
			padding: 16px 0px 0px 25px;
			box-sizing: border-box;
		}
	}
	.header-content{
		  font-family: 'Roboto';
		  text-align: center;
		  color: #ffffff;
			padding-top: 103px;
			padding-bottom: 160px;
		  @media(min-width: 240px){
		  	h1, h2{
		  		max-width: 315px;
				margin: 0 auto;
		  	}
		  	h1{
		  		  font-size: 24px;
				  font-weight: 500;
				  line-height: 1.25;
				  margin-bottom: 16px;
		  	}
		  	h2{
		  		font-size: 16px;
		  		font-weight: 300;
					line-height: 1.5;
					margin-bottom: 44px;
		  	}
		}
	}
}