// Utilities
// Custom & helper classes
// =================================================================================

/* 	HR/STANDALONE BORDER
	----------------- */
hr {
	border-top: 1px solid #999999;
	border-bottom: 0;
	border-right: 0;
	border-left: 0;
	clear: both;
	height: 1px;
	margin: rhythm() 0;
	min-height: 0;
	
	&.dotted {
		border-style: dotted;
	}
	&.dashed {
		border-style: dashed;
	}
}
