<div class="footer-wrapper">
	<footer>
		<h6>&copy; Лайка Интелект 2017</h6>
		<ul>
			<li><a href="#">Terms and conditions</a></li>
			<li><a href="#">Privacy Policy</a></li>
			<li><a href="#">Disclaimer</a></li>
		</ul>
	</footer>
</div>