<header>
	<div class="header-top">
		<a href="#" class="logo">
			<picture>
  				<img src="../../img/logo/lajka-black.png" alt="">
			</picture>
		</a>
		<div class="navigation">
			{% include "../partials/navigation.njk"  %}
		</div>
	</div>	
	<div class="header-content ct375px">
		<h1>Пользовательские решения виртуальной реальности</h1>
		<h2>Используйте конкурентные преимущества вашей отрасли</h2>
		<button class="send">Обратитесь в службу</button>
	</div>
	<div class="header-content ct768px">
		<h1>Индивидуальные решения в области виртуальной реальности</h1>
		<h2>Используйте конкурентные преимущества вашей отрасли</h2>
		<button class="send">Наши услуги</button>
	</div>	
</header>