<nav class="mobile-menu">
	<div class="nav-icon" id="show-menu">
		<span></span>
		<span></span>
		<span></span>
	</div>
	<ul id="menu" class="closed-menu">
		<li><a href="#">
			<picture>
				<source media="(max-width: 767px)" srcset="../../img/navigation/lajka-black.png">
  				<source media="(max-width: 1199px)" srcset="../../img/navigation/lajka-black@2x.png">
  				<source media="(min-width: 1200px)" srcset="../../img/navigation/lajka-black@3x.png" alt="logo">
  				<img src="../../img/logo/lajka-black.png" alt="">
			</picture>
			</a>
		</li>
		<li><a href="#">главная</a></li>
		<li><a href="#">Продукты &amp; Услуги</a></li>
		<li><a href="#">Почему VR/AR?</a></li>
		<li><a href="#">Порфтолио</a></li>
		<li class="line"></li>
		<li><a href="#">FAQ &amp; Поддержка</a></li>
		<li><a href="#">Блог</a>
		<li><a href="#">О компании</a>
		<li><a href="#">Контакты</a>
	</ul>
</nav>