<div class="education-wrapper">
	<h2>Мощное решение для обучения</h2>
	<h3>Инновационные технологии для
вашей отрасли</h3>
	<div class="oval">
		<div id="read">
			<span>%</span>
		</div>
	</div>
	<div class="oval">
		<div id="seen">
			<span>%</span>
		</div>
	</div>
	<div class="oval">
		<div id="feel">
			<span>%</span>
		</div>
	</div>
</div>
<div class="testing-block"></div>