{% set company = "My random company" %}
	{% if not(title) %}
{% set title = "Default title" %}
{% endif %}

<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>{{Title}}</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scale=no"/>
	<meta name="viewport" content="width=device-width, initial-scale=1"/>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.min.css">
	<link href="http://allfont.ru/allfont.css?fonts=montserrat-light" rel="stylesheet" type="text/css" />
	<link href="http://allfont.ru/allfont.css?fonts=montserrat" rel="stylesheet" type="text/css" />
	<link rel="stylesheet" href="styles/main.css">
</head>
<body>
	<div class="container">
		{% block content %}{% endblock %}
	</div>
	{% include "../templates/partials/footer.njk" %}
	<script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
	<script src="https://code.jquery.com/jquery-migrate-1.4.1.min.js"></script>
	<script src="../../js/main.js"></script>
</body>
</html>
