<div class="portfolio-wrapper">
	<h2>Портфолио</h2>
	<h3 class="ct375">Инновационные технологии для вашей отрасли</h3>
	<h3 class="ct768">Наши опытные специалисты в области VR разработки помогут Вам воплотить в жизнь идею любого масштаба и любой сложности. </h3>
	{% for portfolioItem in portfolio %}
	<div class="item">
		<h4>{{portfolioItem.h4}}</h4>
		<video class="video-js vjs-big-play-centered portfolio-video" id="{{portfolioItem.id}}">
			<source src="{{portfolioItem.videoSrc}}" type="video/mp4">
		</video>
		<p class="descr">{{portfolioItem.description}}</p>
	</div>
	{% endfor %}
	<button class="send">load more</button>
</div>