<div class="portfolio-wrapper">
	<h2>Портфолио</h2>
	<h3>Инновационные технологии для вашей отрасли</h3>
	<div class="item">
		<h4>Конечный продукт</h4>
		<video class="video-js vjs-big-play-centered portfolio-video" id="first">
			<source src="video/1.mp4" type="video/mp4">
		</video>
		<p class="descr">Тренажер, предназначенный для работников нефтегазовой промышленности, направлен на отработку навыков безопасного управления оборудованием. С помощью данного тренажера Вы сможете максимально продуктивно привлечь в рабочий процесс как опытных специалистов, так и работников с малым стажем работы.</p>
	</div>
	<div class="item">
		<h4>Управление складскими операциями в виртуальной реальности</h4>
		<video class="video-js vjs-big-play-centered portfolio-video" id="second">
			<source src="video/2.mp4" type="video/mp4">
		</video>
		<p class="descr">Тренажер, предназначенный для работников нефтегазовой промышленности, направлен на отработку навыков безопасного управления оборудованием. С помощью данного тренажера Вы сможете максимально продуктивно привлечь в рабочий процесс как опытных специалистов, так и работников с малым стажем работы.</p>
	</div>
	<div class="item">
		<h4>Языковая подготовка в виртуальной реальности</h4>
		<video class="video-js vjs-big-play-centered portfolio-video" id="third">
			<source src="video/3.mp4" type="video/mp4">
		</video>
		<p class="descr">Тренажер, предназначенный для работников нефтегазовой промышленности, направлен на отработку навыков безопасного управления оборудованием. С помощью данного тренажера Вы сможете максимально продуктивно привлечь в рабочий процесс как опытных специалистов, так и работников с малым стажем работы.</p>
	</div>
	<div class="item">
		<h4>Конечный продукт</h4>
		<video class="video-js vjs-big-play-centered portfolio-video" id="fourth">
			<source src="video/4.mp4" type="video/mp4">
		</video>
		<p class="descr">Тренажер, предназначенный для работников нефтегазовой промышленности, направлен на отработку навыков безопасного управления оборудованием. С помощью данного тренажера Вы сможете максимально продуктивно привлечь в рабочий процесс как опытных специалистов, так и работников с малым стажем работы.</p>
	</div>
	<div class="item">
		<h4>Управление складскими операциями в виртуальной реальности</h4>
		<video class="video-js vjs-big-play-centered portfolio-video" id="fifth">
			<source src="video/5.mp4" type="video/mp4">
		</video>
		<p class="descr">Тренажер, предназначенный для работников нефтегазовой промышленности, направлен на отработку навыков безопасного управления оборудованием. С помощью данного тренажера Вы сможете максимально продуктивно привлечь в рабочий процесс как опытных специалистов, так и работников с малым стажем работы.</p>
	</div>
	<div class="item">
		<h4>Языковая подготовка в виртуальной реальности</h4>
		<video class="video-js vjs-big-play-centered portfolio-video" id="six">
			<source src="video/6.mp4" type="video/mp4">
		</video>
		<p class="descr">Тренажер, предназначенный для работников нефтегазовой промышленности, направлен на отработку навыков безопасного управления оборудованием. С помощью данного тренажера Вы сможете максимально продуктивно привлечь в рабочий процесс как опытных специалистов, так и работников с малым стажем работы.</p>
	</div>
	<button class="load-more">load more</button>
</div>