<div class="slider">
	<div class="slide">
		<div class="slide-content">
			<h5>new services</h5>
			<h4>Artificial Neural Network</h4>
			<p>Such systems learn to do tasks by considering examples, generally without task-specific programming.</p>
		</div>
		<button class="send">Share your vision with us</button>
	</div>
	<div class="slide">
		<div class="slide-content">
			<h5>new services</h5>
			<h4>Artificial Neural Network</h4>
			<p>Such systems learn to do tasks by considering examples, generally without task-specific programming.</p>
		</div>
		<button class="send">Share your vision with us</button>
	</div>
	<div class="slide">
		<div class="slide-content">
			<h5>new services</h5>
			<h4>Artificial Neural Network</h4>
			<p>Such systems learn to do tasks by considering examples, generally without task-specific programming.</p>
		</div>
		<button class="send">Share your vision with us</button>
	</div>
	<div class="slide">
		<div class="slide-content">
			<h5>new services</h5>
			<h4>Artificial Neural Network</h4>
			<p>Such systems learn to do tasks by considering examples, generally without task-specific programming.</p>
		</div>
		<button class="send">Share your vision with us</button>
	</div>
	<div class="slide">
		<div class="slide-content">
			<h5>new services</h5>
			<h4>Artificial Neural Network</h4>
			<p>Such systems learn to do tasks by considering examples, generally without task-specific programming.</p>
		</div>
		<button class="send">Share your vision with us</button>
	</div>
</div>