<div class="slider">

	{% for slide in slides375 %}
	<div class="slide slide375">
		<div class="gradient">
			<img src="{{slide.src}}" alt="">
			<div class="slide-content ct375px">
				<h5>{{slide.h5}}</h5>
				<h4>{{slide.h4}}</h4>
				<p>{{slide.p}}</p>
			</div>
			<div class="slide-content ct768px">
				<h5>{{slide.h5}}</h5>
				<h4>{{slide.h4_768}}</h4>
				<p>{{slide.p_768}}</p>
			</div>
			<button class="send">Share your vision with us</button>
		</div>
	</div>
	{% endfor %}
</div>