<div class="tools">
	<h2>Наши инструменты</h2>
	<h3 class="ct375">Инновационные технологии для вашей отрасли</h3>
	<h3 class="ct768">Инновационные технологии для сферы Вашего бизнеса</h3>
	<div class="tool-block">
		<picture>
				<source media="(max-width: 767px)" srcset="../../img/tools/virtual-tours.png">
  				<source media="(max-width: 1199px)" srcset="../../img/tools/virtual-tours@2x.png">
  				<source media="(min-width: 1200px)" srcset="../../img/tools/virtual-tours@3x.png" alt="tools">
  				<img src="../../img/tools/virtual-tours.png" alt="">
			</picture>
		<h4>Виртуальные туры</h4>
		<p>Инновационные технологии для вашей отрасли</p>
	</div>
	<div class="tool-block">
		<picture>
				<source media="(max-width: 767px)" srcset="../../img/tools/mr-simulators.png">
  				<source media="(max-width: 1199px)" srcset="../../img/tools/mr-simulators@2x.png">
  				<source media="(min-width: 1200px)" srcset="../../img/tools/mr-simulators@3x.png" alt="tools">
  				<img src="../../img/tools/mr-simulators.png" alt="">
			</picture>
		<h4>VR/AR/MR тренажеры</h4>
		<p>Инновационные технологии для вашей отрасли</p>
	</div>
	<div class="tool-block">
		<picture>
				<source media="(max-width: 767px)" srcset="../../img/tools/game-production.png">
  				<source media="(max-width: 1199px)" srcset="../../img/tools/game-production@2x.png">
  				<source media="(min-width: 1200px)" srcset="../../img/tools/game-production@3x.png" alt="tools">
  				<img src="../../img/tools/game-production.png" alt="">
			</picture>
		<h4>Разработки игровой индустрии</h4>
		<p>Инновационные технологии для вашей отрасли</p>
	</div>
	<div class="tool-block">
		<picture>
				<source media="(max-width: 767px)" srcset="../../img/tools/monument-recreation.png">
  				<source media="(max-width: 1199px)" srcset="../../img/tools/monument-recreation@2x.png">
  				<source media="(min-width: 1200px)" srcset="../../img/tools/monument-recreation@3x.png" alt="tools">
  				<img src="../../img/tools/monument-recreation.png" alt="">
			</picture>
		<h4>Воссоздание памятников</h4>
		<p>Инновационные технологии для вашей отрасли</p>
	</div>
	<div class="about-technology">
		<h2>Зачем вам нужна vr технология?</h2>
		<p class="ct375">Technologies are rapidly changing. What seemed impossible at one time, became a tool later on with the new inventions. Phones, computers, projectors and other innovations contributed to education and business all-together. Now, we are at the time when Virtual Reality (VR) is becoming the key innovation spreading across various platforms, providing unique solutions to businesses. This is the ultimate advantage of your industry that your company can get today in terms of local and international PR, effectiveness, profit and future perspective.</p>
		<div class="ct768">
			<p>Технологии меняются с невероятной скоростью. То, что казалось невозможным еще вчера, существует и развивается уже сегодня. Подобные изменения затрагивают все сферы деятельности, включая бизнес и образование.</p>
			<p>Сейчас мы находимся на этапе, когда виртуальная реальность стала одной из основных инноваций в IT сфере. Эта технология содержит в себе уникальные, эффективные и прибыльные решения для Вашего бизнеса.</p>		
		</div>
		
	</div>
	<div class="applications">
		<h2>Области применения</h2>
		<h3>Инновационные технологии для вашей отрасли</h3>
		<div class="swiper-container">
			<div class="swiper-wrapper">
				{% for swiperSlide in swiper %}
				<div class="swiper-slide">
					<picture>
						<source media="(max-width: 768px)" srcset="{{swiperSlide.swiperSrcMin}}">
	  					<source media="(max-width: 1199px)" srcset="{{swiperSlide.swiperSrcMiddle}}">
	  					<source media="(min-width: 1200px)" srcset="{{swiperSlide.swiperSrcMax}}" alt="tools">
	  					<img src="{{swiperSlide.swiperSrcMin}}" alt="">
					</picture>
					<h3>{{swiperSlide.h3}}</h3>
					<p>{{swiperSlide.p}}</p>
				</div>
				{% endfor %}
			</div>
		</div>
		<div class="swiper-pagination"></div>
	</div>
</div>